#container {
    width: 100%;
}

.image {
    width: 50%;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
}

#titleWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
}